<div class="footer-wrapper">

    <footer style="text-align:center; padding:15px 0; color:#0ff;">
        Jamexus offers a powerful mix of services — technical troubleshooting, internet radio expertise,
        DJ coaching, notary public work, documentation support, and a growing list of solutions designed
        to help you succeed ©2026GD.

<nav class="desktop-nav">
    <a href="/">Home</a>
    <a href="/infin8radio/">iRadio</a>
    <a href="/events/">Events</a>
    <a href="/business hub/">Business Hub</a>
    <a href="/about/">About</a>
    <a href="/contact/">Contact</a>
</nav>
    </footer>

</div>
