<div class="header-wrapper">

    <header>
        <img src="/images/transparent.png" class="site-logo">
    </header>

    <!-- MOBILE HAMBURGER -->
    <script src="/js/menu.js"></script>
    <!-- MOBILE NAV MENU -->
    <nav id="mobile-nav">
        <a href="/index.html">Home</a>
        <a href="/html/services.html">Services</a>
        <a href="/html/events.html">Events</a>
        <a href="/html/about.html">About</a>
        <a href="/html/contact.html">Contact</a>
    </nav>

    <!-- DESKTOP NAV -->
    <nav class="desktop-nav">
        <a href="/index.html">Home</a>
        <a href="/html/services.html">Services</a>
        <a href="/html/events.html">Events</a>
        <a href="/html/about.html">About</a>
        <a href="/html/contact.html">Contact</a>
    </nav>

</div>

<script>
function toggleMenu() {
    const menu = document.getElementById("mobile-nav");
    menu.classList.toggle("open");
}
</script>
